NEXT_PUBLIC_API_PREFIX=http://localhost:5001/console/api
NEXT_PUBLIC_PUBLIC_API_PREFIX=http://localhost:5001/api

# 关于takin主系统的地址，在前端中用于跳转、扣费api等
TAKIN_API_URL=http://localhost:3000
# 关于跳转takin本地的callback；在takin登录后回来的地址
NEXT_PUBLIC_CALLBACK_URL=http://localhost:3000/apps
